.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 30px;
    padding: 2rem;
    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    cursor: pointer;
}

.Card:hover {
    transform: scale(1.1);
    /*Glowing Shadow*/
    -webkit-box-shadow: 0 0 55px -1px rgba(255, 255, 255, 0.52);
    -moz-box-shadow: 0 0 55px -1px rgba(255, 255, 255, 0.52);
    box-shadow: 0 0 55px -1px rgba(255, 255, 255, 0.52);
}

.Card:active {
    transform: scale(1.08);
}


.Card .image-container {
    width: 100%;
    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}

.Card:hover .image-container {
    transform: scale(0.9);
}


.Card .image-container img {
    width: 100%;
}

.Card .title-container {
    text-align: center;
}

.Card .title-container h1 {
    color: white;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.Card .title-container span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
}

.Card .action-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.Card .action-container .CircleButton:first-child {
    margin-right: 1rem;
}

.Card.color-0 {
    background: linear-gradient(135deg, #FDEB71 10%, #F8D800 100%);
}
.Card.color-1 {
    background: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
}
.Card.color-2 {
    background: linear-gradient(135deg, #FEB692 10%, #EA5455 100%);
}
.Card.color-3 {
    background: linear-gradient(135deg, #CE9FFC 10%, #7367F0 100%);
}
.Card.color-4 {
    background: linear-gradient(135deg, #90F7EC 10%, #32CCBC 100%);
}
.Card.color-5 {
    background: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
}
.Card.color-6 {
    background: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
}
.Card.color-7 {
    background: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
}
.Card.color-8 {
    background: linear-gradient(135deg, #F97794 10%, #623AA2 100%);
}
.Card.color-9 {
    background: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}
.Card.color-10 {
    background: linear-gradient(135deg, #F761A1 10%, #8C1BAB 100%);
}
.Card.color-11 {
    background: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
}
.Card.color-12 {
    background: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
}
.Card.color-13 {
    background: linear-gradient(135deg, #FAD7A1 10%, #E96D71 100%);
}
.Card.color-14 {
    background: linear-gradient(135deg, #FFD26F 10%, #3677FF 100%);
}
.Card.color-15 {
    background: linear-gradient(135deg, #A0FE65 10%, #FA016D 100%);
}
.Card.color-16 {
    background: linear-gradient(135deg, #FFDB01 10%, #0E197D 100%);
}
.Card.color-17 {
    background: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
}
.Card.color-18 {
    background: linear-gradient(135deg, #92FFC0 10%, #002661 100%);
}
.Card.color-19 {
    background: linear-gradient(135deg, #EEAD92 10%, #6018DC 100%);
}
.Card.color-20 {
    background: linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%);
}
.Card.color-21 {
    background: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
}
.Card.color-22 {
    background: linear-gradient(135deg, #F1CA74 10%, #A64DB6 100%);
}
.Card.color-23 {
    background: linear-gradient(135deg, #E8D07A 10%, #5312D6 100%);
}
.Card.color-24 {
    background: linear-gradient(135deg, #EECE13 10%, #B210FF 100%);
}
.Card.color-25 {
    background: linear-gradient(135deg, #79F1A4 10%, #0E5CAD 100%);
}
.Card.color-26 {
    background: linear-gradient(135deg, #FDD819 10%, #E80505 100%);
}
.Card.color-27 {
    background: linear-gradient(135deg, #FFF3B0 10%, #CA26FF 100%);
}
.Card.color-28 {
    background: linear-gradient(135deg, #FFF5C3 10%, #9452A5 100%);
}
.Card.color-29 {
    background: linear-gradient(135deg, #F05F57 10%, #360940 100%);
}
.Card.color-30 {
    background: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}
.Card.color-31 {
    background: linear-gradient(135deg, #FFF886 10%, #F072B6 100%);
}
.Card.color-32 {
    background: linear-gradient(135deg, #97ABFF 10%, #123597 100%);
}
.Card.color-33 {
    background: linear-gradient(135deg, #F5CBFF 10%, #C346C2 100%);
}
.Card.color-34 {
    background: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
}
.Card.color-35 {
    background: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);
}
.Card.color-36 {
    background: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}
.Card.color-37 {
    background: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}
.Card.color-38 {
    background: linear-gradient(135deg, #C2FFD8 10%, #465EFB 100%);
}
.Card.color-39 {
    background: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
}
.Card.color-40 {
    background: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
}
.Card.color-41 {
    background: linear-gradient(135deg, #65FDF0 10%, #1D6FA3 100%);
}
.Card.color-42 {
    background: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);
}
.Card.color-43 {
    background: linear-gradient(135deg, #FF7AF5 10%, #513162 100%);
}
.Card.color-44 {
    background: linear-gradient(135deg, #F0FF00 10%, #58CFFB 100%);
}
.Card.color-45 {
    background: linear-gradient(135deg, #FFE985 10%, #FA742B 100%);
}
.Card.color-46 {
    background: linear-gradient(135deg, #FFA6B7 10%, #1E2AD2 100%);
}
.Card.color-47 {
    background: linear-gradient(135deg, #FFAA85 10%, #B3315F 100%);
}
.Card.color-48 {
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
}
.Card.color-49 {
    background: linear-gradient(135deg, #FF9D6C 10%, #BB4E75 100%);
}
.Card.color-50 {
    background: linear-gradient(135deg, #F6D242 10%, #FF52E5 100%);
}
.Card.color-51 {
    background: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);
}
.Card.color-52 {
    background: linear-gradient(135deg, #3B2667 10%, #BC78EC 100%);
}
.Card.color-53 {
    background: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}
.Card.color-54 {
    background: linear-gradient(135deg, #3C8CE7 10%, #00EAFF 100%);
}
.Card.color-55 {
    background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
}
.Card.color-56 {
    background: linear-gradient(135deg, #81FFEF 10%, #F067B4 100%);
}
.Card.color-57 {
    background: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
}
.Card.color-58 {
    background: linear-gradient(135deg, #FFCF71 10%, #2376DD 100%);
}
.Card.color-59 {
    background: linear-gradient(135deg, #FF96F9 10%, #C32BAC 100%);
}
