.CircleButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
    cursor: pointer;
}

.CircleButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.CircleButton:active {
    background-color: rgba(0, 0, 0, 0.8);
}
