html, body, #root {
    height:100vh;
    width:100vw;
    background-color: #1a1a2e;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width:100vw;
}

.App>.container {
    margin: auto;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.App>.title-container {
    margin-bottom: 3rem;
}

.App h1 {
    color: white;
}

.App .list-cards {
    width: 100%;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 2rem;
}
