html, body, #root {
    width: 100%;
    height: 100%;
    background-color: #1a1a2e;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.App .title-container {
    margin-bottom: 3rem;
}

.App h1 {
    color: white;
}

.App .list-cards {
    flex-direction: row;
    display: flex;
}

.App .list-cards .Card {
    margin-right: 2rem;
}
